.mainContainer {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 3.6rem;
  padding: 3.2rem;
}

.mainContainer header {
  width: 100%;
  grid-row: 1;
  grid-column: 2/ -2;
}

.mainContainer aside {
  grid-row: 1 / span 3;
}

.mainContainer main {
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 780px) {
  .mainContainer aside {
    grid-row: 1;
    grid-column: 1 / span 3;
  }

  .mainContainer header {
    width: 100%;
    grid-row: 2;
    grid-column: 1/ -2;
  }
  .mainContainer main {
    grid-row: 3;
    grid-column: 1 / span 3;
  }
}
