.sideNavigation {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 7rem;
}

.sideNavigation ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 3.1rem;
  width: 9.6rem;
  max-width: 100%;
  background-color: #161d2f;
  border-radius: 2rem;
  height: 96rem;
  min-height: 60rem;
}

.avatarImage {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 4rem;
  height: 4rem;
  max-width: 100%;
}

.active svg {
  fill: #fff;
}

.inActive svg {
  fill: #5a698f;
}

.active svg:hover,
.inActive svg:hover {
  fill: rgba(252, 71, 71, 1);
}

@media (max-width: 780px) {
  .sideNavigation {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 3rem;
  }
  .sideNavigation ul{
    flex-direction: row;
    gap: 2rem;
  }
  .sideBar{
    width: 100%;
    height: auto;
    min-height: auto;
    align-items: center;
    flex-direction: row;
    padding: 3rem 2rem;
  }
}
