.cardContainer {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.tags {
  font-size: 1.3rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title {
  font-size: 2.5rem;
  color: #fff;
}

.bookmark {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgba(16, 20, 30, 60%);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.bookmark img {
  width: 2.2rem !important;
  height: 2.2rem;
}

.playButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 11.7rem;
  height: 6rem;
  padding: 0 1rem;
  max-width: 100%;
  border-radius: 28.5px;
  border: none;
  background-color: rgb(255, 255, 255, 0.25);
  color: #fff;
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.playButton img {
  width: 5rem;
  height: 5rem;
}
