@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #10141e;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
